/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (hover: none) {
  #mouseShape {
    display: none; /* Hide the element when on a touch screen device */
  }
}

@media (max-width: 84em) {
  .circle {
    width: 350px;
    height: 350px;
  }

  .heading-primary {
    font-size: 4.8em;
  }

  .services-list {
    gap: 3.2em;
    width: 90%;
  }

  .services-list li {
    padding: 3.6rem 3.6rem;
  }

  .backgroundcartoon {
    width: 50%;
  }
}

@media (max-width: 75em) {
  .heading-primary {
    font-size: 3.2em;
    margin-left: 0rem;
    text-align: center;
    width: 80%;
    margin: 0px auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }

  .heading-bottom {
    margin-left: 0rem;
  }
}

@media (max-width: 65em) {
  .services-list li {
    padding: 2.2rem 2.2rem;
  }

  .service-numbers {
    font-size: 3.2rem;
    line-height: 50px;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
  }

  .services-list h4 {
    font-size: 1.8rem;
  }

  .contact-page {
    padding: 3.2rem;
    display: flex;
    flex-direction: column;
    margin-top: 3.2em;
  }
}

@media (max-width: 50em) {

  .doodle{
    display:none;
  }

  .triangle{
    display:none;
  }
  .circle {
    width: 250px;
    height: 250px;
    left:50%;
  }

  .backgroundcartoon {
    left:50%;
  }
  .header {
    padding: 3.2em;
  }

  .heading-primary {
    font-size: 2.8em;
  }

  .heading-primary {
    width: 95%;
    top: 70%;
  }

  .heading-services {
    font-size: 3.2em;
  }
  .services-list {
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
  }
  .services-list li {
    padding: 2.2rem 3.6rem;
  }

  .contact {
    width: 90%;
  }

  .contact-form {
    display: flex;
    flex-direction: column;
  }

  .contact-list {
    margin-top: 4.8em;
  }

  .portfolio h1 {
    font-size: 3.2em;
  }

  .contactheader {
    font-size: 3.2em;
  }
}

@media (max-width: 35em) {
  .header {
    padding: 3.2em;
  }

  .heading-services {
    font-size: 2.8em;
  }

  .portfolio h1 {
    font-size: 2.8em;
  }

  .contactheader {
    font-size: 2.8em;
  }
}
